[data-ctrl-name=scrollview] {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }

[data-ctrl-name=scrollview] .scrollview__scroll-view___216JS {
  width: 100%;
  position: absolute; }
[data-ctrl-name=loading] {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -moz-box;
  -moz-box-align: center;
  -moz-box-pack: center; }

[data-ctrl-name=loading] div {
  position: relative; }

[data-ctrl-name=loading] .refreshloading__arrow___2JjZb {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain; }

[data-ctrl-name=loading] .refreshloading__arrow___2JjZb.refreshloading__down___18oJb {
  display: block;
  background-image: url(//gw.alicdn.com/tps/i3/TB180mKFVXXXXXtXVXXmqjTHFXX-60-60.png); }

[data-ctrl-name=loading] .refreshloading__arrow___2JjZb.refreshloading__up___3Wqw- {
  display: block;
  background-image: url(//gw.alicdn.com/tps/i4/TB1ECWQFVXXXXaBXpXXmqjTHFXX-60-60.png); }

[data-ctrl-name=loading] .refreshloading__text___1dGxY {
  display: block;
  color: #999;
  margin-left: .3rem; }

[data-dpr="1"] [data-ctrl-name=loading] div, [data-dpr="1"] [data-ctrl-name=loading] canvas {
  width: 30px;
  height: 30px; }

[data-dpr="2"] [data-ctrl-name=loading] div, [data-dpr="2"] [data-ctrl-name=loading] canvas {
  width: 60px;
  height: 60px; }

[data-dpr="3"] [data-ctrl-name=loading] div, [data-dpr="3"] [data-ctrl-name=loading] canvas {
  width: 90px;
  height: 90px; }

[data-dpr="1"] [data-ctrl-name=loading] .refreshloading__text___1dGxY {
  height: 30px;
  line-height: 30px;
  font-size: 12px; }

[data-dpr="2"] [data-ctrl-name=loading] .refreshloading__text___1dGxY {
  height: 60px;
  line-height: 60px;
  font-size: 24px; }

[data-dpr="3"] [data-ctrl-name=loading] .refreshloading__text___1dGxY {
  height: 90px;
  line-height: 90px;
  font-size: 36px; }
html, body {
  padding: 0;
  margin: 0;
  width: 100%; }

.pageview__wraper___2i4_e {
  position: fixed;
  overflow: hidden;
  top: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  -webkit-transform: translate3d(100%, 0, 0);
  -webkit-transition: all 0.3s;
  z-index: 9; }
  .pageview__wraper___2i4_e.pageview__active___3pLjH {
    -webkit-transform: translate3d(0, 0, 0); }
    .pageview__wraper___2i4_e.pageview__active___3pLjH .pageview__mask___bw0H5 {
      display: block; }

.pageview__mask___bw0H5 {
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: .6;
  background: #000;
  top: 0px;
  z-index: 9;
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  -webkit-transition: all 0s; }
  .pageview__mask___bw0H5.pageview__active___3pLjH {
    -webkit-transform: translate3d(0, 0, 0); }
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.wraper {
  margin: 0.46667rem 0.42667rem; }

.scroll-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.carport-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0.26667rem;
  margin-bottom: 0.26667rem;
  border-bottom: 1px solid #f2f2f2; }
  .carport-item:last-child {
    border-bottom: none; }

.carport-img {
  width: 3.56rem;
  height: 2.30667rem;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.carport-wrap {
  margin-left: 0.37333rem; }
  .carport-wrap h3 {
    font-size: 0.37333rem;
    color: #434343; }

.carport-info {
  margin-top: 0.26667rem; }

.carport-type {
  font-size: 0.32rem;
  color: #fff;
  background: #00b7ee;
  border-radius: 3px;
  padding: 0.13333rem; }

.carport-num {
  color: #ec6941;
  font-size: 0.37333rem;
  margin-left: 0.2rem; }

.carport-desc {
  margin-top: 0.26667rem;
  font-size: 0.32rem;
  color: #434343; }

.carport-desc2 {
  margin-top: 0.33333rem;
  font-size: 0.32rem;
  color: #9b9b9b; }

.empty {
  font-size: 0.32rem;
  color: #9b9b9b; }
